<form method="post" action="{{ path('app_admin_club_delete', {'id': club.id}) }}" onsubmit="return confirm('Es tu certain(e) de vouloir supprimer ce club ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ club.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
