{% extends 'base.html.twig' %}

{% block title %}Edit Club{% endblock %}

{% block body %}

<div class="container my-5">

    <h3 class="my-5">Modifier le club </h3>
    
    <a href="{{ path('app_admin_club_index') }}" class="btn btn-sm btn-secondary">Retour liste Clubs</a>
    
    <div class="card my-3 p-3 shadow">

        {{ include('admin/club/_form.html.twig', {'button_label': 'Modifier'}) }}

    </div>
</div>
{% endblock %}
