    <!--==============================
	Header Area
    ==============================-->
    <header class="th-header header-layout1">
        <div class="header-top">
            <div class="container">
                <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
                    <div class="col-auto d-none d-lg-block">
                        <div class="header-links">
                            <ul>
                                <li><i class="fa-solid fa-phone"></i><a href="tel:+1631202-0088">+(163)-1202-0088</a></li>
                                <li><i class="fa-solid fa-envelope"></i><a href="mailto:info@Danza.com">help24/7@gmail.com</a></li>
                                <li><i class="fa-solid fa-location-dot"></i>835 Middle Country Rd, NY 11784, USA</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="header-social">
                            <span class="social-title">Follow Us : </span>
                            <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://www.google.com/"><i class="fa-brands fa-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sticky-wrapper">
            <!-- Main Menu Area -->
            <div class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo">
                                <a href="index.html"><img src="assets/img/logo.svg" alt="Danza"></a>
                            </div>
                        </div>
                        <div class="col-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li><a href="{{path('app_main')}}">Accueil</a></li>
                                    <li><a href="{{path('app_clubs')}}">Clubs</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Compétition</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">Règlement</a>
                                            </li>
                                            <li>
                                                <a href="#">Résultats</a>
                                            </li>
                                            <li>
                                                <a href="#">Dossards</a>
                                            </li>
                                        </ul>
                                    </li>





                                    <li class="menu-item-has-children">
                                        <a href="#hero">Home</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item-has-children">
                                                <a href="#">Multipage</a>
                                                <ul class="sub-menu">
                                                    <li><a href="index.html">Modern Dance</a></li>
                                                    <li><a href="index-dance-School.html">Dance School</a></li>
                                                    <li><a href="index-ballet-studio.html">Ballet Studio</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#">Onepage</a>
                                                <ul class="sub-menu">
                                                    <li><a href="index-onepage.html">Modern Dance</a></li>
                                                    <li><a href="index-2-onepage.html">Dance School</a></li>
                                                    <li><a href="index-3-onepage.html">Ballet Studio</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Classes</a>
                                        <ul class="sub-menu">
                                            <li><a href="dance-classes.html">Dance Classes</a></li>
                                            <li><a href="single-classes.html">Single Classes</a></li>
                                            <li><a href="class-schedule.html">Class Schedule</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Pages</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item-has-children"><a href="#">Shop</a>
                                                <ul class="sub-menu">
                                                    <li><a href="shop.html">Shop</a></li>
                                                    <li><a href="single-shop.html">Single Shop</a></li>
                                                    <li><a href="cart.html">Cart Page</a></li>
                                                    <li><a href="checkout.html">Checkout</a></li>
                                                    <li><a href="wishlist.html">Wishlist</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="event.html">Event</a></li>
                                            <li><a href="single-event.html">Single-Event</a></li>
                                            <li><a href="instructor.html">Our Instructor</a></li>
                                            <li><a href="single-instructor.html">Single Instructor</a></li>
                                            <li><a href="service.html">service</a></li>
                                            <li><a href="single-service.html">single-service</a></li>
                                            <li><a href="gallery.html">Gallery</a></li>
                                            <li><a href="pricing.html">Pricing</a></li>
                                            <li><a href="account.html">Account</a></li>
                                            <li><a href="error.html">Error</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">Blog</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">Blog Layout</a>
                                                <ul class="sub-menu">
                                                    <li><a href="blog-grid-2-columns.html">Blog Grid 02 Columns</a></li>
                                                    <li><a href="blog-grid-3-columns.html">Blog Grid 03 Columns</a></li>
                                                    <li><a href="blog-list.html">Blog List</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="blog.html">Blog Sidebar</a>
                                                <ul class="sub-menu">
                                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                                    <li><a href="blog.html">Blog No Sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact Us</a>
                                    </li>
                                </ul>
                            </nav>
                            <button type="button" class="th-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                        </div>
                        <div class="col-auto d-none d-xl-block">
                            <div class="header-button">
                                {#                                 
                                <button type="button" class="icon-btn searchBoxToggler"><i class="fal fa-search"></i></button>
                                <button type="button" class="icon-btn sideMenuToggler2">
                                    <i class="fal fa-shopping-cart"></i>
                                    <span class="badge">5</span>
                                </button>
                                 #}
                                <button type="button" class="icon-btn fs-6 sideMenuToggler">
                                    <i class="fa-thin fa-grid"></i>
                                </button>
                                <a href="contact.html" class="th-btn">Register Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo-bg"></div>
            <div class="menu-bg"></div>
        </div>
    </header>