<form method="post" action="{{ path('app_admin_organization_team_delete', {'id': organization_team.id}) }}" onsubmit="return confirm('Es tu certain(e) de vouloir supprimer ce dirigeant ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ organization_team.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
