{% extends 'base.html.twig' %}

{% block title %}Edit OrganizationTeam{% endblock %}

{% block body %}


<div class="container my-5">

    <h3 class="my-5">Modifier le dirigeant </h3>
    
    <a href="{{ path('app_admin_organization_team_index') }}" class="btn btn-sm btn-secondary">Retour liste Dirigeants</a>
    
    <div class="card my-3 p-3 shadow">

            {{ include('admin/organization_team/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    </div>
</div>



{% endblock %}
