{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}

<div class="container my-5">

    <h3 class="my-5">Modifier la Catégorie </h3>
    
    <a href="{{ path('app_admin_category_index') }}" class="btn btn-sm btn-secondary">Retour liste Catégories</a>
    
    <div class="card my-3 p-3 shadow">

        {{ include('admin/category/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    </div>
</div>


{% endblock %}
