<form method="post" action="{{ path('app_admin_season_delete', {'id': season.id}) }}" onsubmit="return confirm('Es tu certain(e) de vouloir supprimer cette Saison ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ season.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
