{% extends 'base.html.twig' %}

{% block title %}Edit Season{% endblock %}

{% block body %}
<div class="container my-5">

    <h3 class="my-5">Modifier la Saison </h3>
    
    <a href="{{ path('app_admin_season_index') }}" class="btn btn-sm btn-secondary">Retour liste Saisons</a>
    
    <div class="card my-3 p-3 shadow">

        {{ include('admin/season/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    </div>
</div>
{% endblock %}
