<form method="post" action="{{ path('app_admin_championship_delete', {'id': championship.id}) }}" onsubmit="return confirm('Es tu certain(e) de vouloir supprimer ce championnat ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ championship.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
