{% extends 'base.html.twig' %}

{% block title %}Edit Championship{% endblock %}

{% block body %}

<div class="container my-5">

    <h3 class="my-5">Modifier le championnat </h3>
    
    <a href="{{ path('app_admin_championship_index') }}" class="btn btn-sm btn-secondary">Retour liste Championnats</a>
    
    <div class="card my-3 p-3 shadow">
        {{ include('admin/championship/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    </div>
</div>
{% endblock %}
