{% extends 'base.html.twig' %}

{% block title %}Edit inscriptions{% endblock %}

{% block body %}

<div class="container my-5">

    <h3 class="my-5">Modifier les inscriptions </h3>
    
    <a href="{{ path('app_admin_championship_index_inscriptions') }}" class="btn btn-sm btn-secondary">Retour liste championnats</a>
    
    <div class="card my-3 p-3 shadow">

        {{ include('admin/championship/_form_inscriptions.html.twig', {'button_label': 'Enregistrer'}) }}

    </div>
</div>
{% endblock %}
