{% extends 'base.html.twig' %}

{% block title %}New Championship{% endblock %}

{% block body %}
<div class="container">

    <a href="{{ path('app_admin_championship_index') }}" class="mt-3 btn btn-sm btn-secondary">back to list</a>

    <div class="card my-3 p-3 shadow">
        <h2>Create new Championship</h2>


        {{ include('admin/championship/_form.html.twig') }}

        
    </div>
</div>
{% endblock %}
