{% extends 'base.html.twig' %}

{% block title %}New Championship{% endblock %}

{% block body %}
<div class="container my-5">

    <h3 class="my-5">Créer un championnat </h3>
    
    <a href="{{ path('app_admin_championship_index') }}" class="mt-3 btn btn-sm btn-secondary">Retour liste Clubs</a>
    
    <div class="card my-3 p-3 shadow">



        {{ include('admin/championship/_form.html.twig') }}

        
    </div>
</div>
{% endblock %}
