{% extends 'base.html.twig' %}

{% block title %}New Danseur{% endblock %}

{% block body %}
    <h1>Create new Danseur</h1>

    {{ include('admin/danseur/_form.html.twig') }}

    <a href="{{ path('app_admin_danseur_index') }}">back to list</a>
{% endblock %}
