        <!--==============================
        About Area  
        ==============================-->
    <div class="space" id="about-sec">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="img-box1 pe-xl-5">
                        <div class="img1">
                            <img src="assets/img/normal/about_1.png" alt="About">
                            <img class="shape_1" src="assets/img/icon/rectangle.svg" alt="About">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="title-area mb-35">
                        <span class="sub-title style1 mt-n1">A propos de FDO</span>
                        <h2 class="sec-title">Des compétitions de 2006</h2>
                    </div>
                    <p class="sec-desc mt-n2 mb-35">Dramatically morph reliable experiences without strategic methodologies. Quickly
                        create frictionless strategic theme areas. Completely maximize economically sound e-markets after
                        user-centric deliverables. Proactively create intuitive ROI and. </p>
                    <p class="sec-desc mt-n3 mb-35">Compellingly expedite end-to-end sources without visionary process improvements.
                        Compellingly exploit maintainable supply chains.</p>
                    <div class="btn-group style2">
                        <a href="about.html" class="th-btn">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>