    <!--==============================
    Cta Area  
    ==============================-->
    <section class="" data-pos-for=".blog-area" data-sec-pos="bottom-half">
        <div class="container">
            <div class="cta-area" data-bg-src="assets/img/bg/cta_bg_1.png">
                <div class="row justify-content-between">
                    <div class="col-xl-12">
                        <h2 class="sec-title cta-title mt-n2">get your free registration </h2>
                        <p class="cta-desc">[note: may want a registration form inserted here & linked to dance?]</p>
                        <div class="cta-btn text-center">
                            <a href="contact.html" class="th-btn">get started</a>
                            <a href="contact.html" class="th-btn white-btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>