    <!--==============================
    Dance Classes Area  
    ==============================-->
    <section class="space bg-smoke couple-area-sec" data-bg-src="assets/img/bg/dance_bg_1.png" id="classes">
        <div class="container">
            <div class="row text-center text-lg-start justify-content-lg-between align-items-end">
                <div class="col-lg-7 mb-n2 mb-lg-0">
                    <div class="title-area">
                        <span class="sub-title style1  mt-n1">Compétitions </span>
                        <h2 class="sec-title">Saison 2023-2024</h2>
                    </div>
                </div>
                <div class="col-lg-auto">
                    <div class="sec-btn">
                        <div class="icon-box">
                            <button data-slick-prev="#danceSlide" class="slick-arrow default"><i class="far fa-arrow-left"></i></button>
                            <button data-slick-next="#danceSlide" class="slick-arrow default"><i class="far fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row slider-shadow th-carousel" id="danceSlide" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1">
                <div class="col-lg-4 col-md-6">
                    <div class="couple-card">
                        <div class="couple-card_img">
                            <img src="assets/img/couple/couple_1_1.jpg" alt="couple">
                        </div>
                        <h3 class="couple-card_title"><a href="single-classes.html">MAICHE</a></h3>
                        <p class="couple-card_text">
                            <i>03/03/2024</i><br/>
                            Organisation : Moving Show Dance<br/>
                        </p>
                        <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="couple-card">
                        <div class="couple-card_img">
                            <img src="assets/img/couple/couple_1_2.jpg" alt="couple">
                        </div>
                        <h3 class="couple-card_title"><a href="single-classes.html">Couple Dance Class</a></h3>
                        <p class="couple-card_text">Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed.</p>
                        <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="couple-card">
                        <div class="couple-card_img">
                            <img src="assets/img/couple/couple_1_3.jpg" alt="couple">
                        </div>
                        <h3 class="couple-card_title"><a href="single-classes.html">Classical Dance Class</a></h3>
                        <p class="couple-card_text">Curabitur aliquet quam id dui posuere blandit. Pellentesque ipsum orci porta dapibus. Donec rutrum malesuada.</p>
                        <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="couple-card">
                        <div class="couple-card_img">
                            <img src="assets/img/couple/couple_1_4.jpg" alt="couple">
                        </div>
                        <h3 class="couple-card_title"><a href="single-classes.html">Kid’s Ballet</a></h3>
                        <p class="couple-card_text">Sed porttitor lectus nibh. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. aliquet felis volutpat.</p>
                        <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="couple-card">
                        <div class="couple-card_img">
                            <img src="assets/img/couple/couple_1_5.jpg" alt="couple">
                        </div>
                        <h3 class="couple-card_title"><a href="single-classes.html">Couple Ballet</a></h3>
                        <p class="couple-card_text">Vivamus suscipit tortor eget felis porttitor volutpat. Nulla porttitor accumsan tincidunt. Quisque velit id enim.</p>
                        <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="couple-card">
                        <div class="couple-card_img">
                            <img src="assets/img/couple/couple_1_6.jpg" alt="couple">
                        </div>
                        <h3 class="couple-card_title"><a href="single-classes.html">Classic Ballet</a></h3>
                        <p class="couple-card_text">Proin eget tortor risus. Curabitur aliquet quam id dui posuere blandit. Curabitur arcu erat, accumsan id at sem.</p>
                        <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="couple-card">
                        <div class="couple-card_img">
                            <img src="assets/img/couple/couple_1_7.jpg" alt="couple">
                        </div>
                        <h3 class="couple-card_title"><a href="single-classes.html">Hip-Hop Dance</a></h3>
                        <p class="couple-card_text">Sed porttitor lectus nibh. Curabitur aliquet quam id dui posuere blandit. Proin eget tortor tincidunt at risus.</p>
                        <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="couple-card">
                        <div class="couple-card_img">
                            <img src="assets/img/couple/couple_1_8.jpg" alt="couple">
                        </div>
                        <h3 class="couple-card_title"><a href="single-classes.html">Cardio Dance</a></h3>
                        <p class="couple-card_text">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec sit amet aliquam.</p>
                        <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="couple-card">
                        <div class="couple-card_img">
                            <img src="assets/img/couple/couple_1_9.jpg" alt="couple">
                        </div>
                        <h3 class="couple-card_title"><a href="single-classes.html">Break Dance</a></h3>
                        <p class="couple-card_text">Quisque velit nisi, pretium ut lacinia in, elementum id enim. Nulla porttitor accumsan tincidunt quis ac velit lectus.</p>
                        <a href="single-classes.html" class="th-btn style3">Explore Details</a>
                    </div>
                </div>

            </div>
        </div>
    </section>