    <!--==============================
    Blog Area  
    ==============================-->
    <section class="blog-area pt-3" id="blog-sec" data-bg-src="assets/img/bg/blog_1_1.png">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title mt-n1">Blog & News</span>
                <h2 class="sec-title">Our Latest News & Articles</h2>
            </div>
            <div class="row slider-shadow th-carousel" id="blogSlide1" data-slide-show="3" data-lg-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">
                <div class="col-md-6 col-xl-4">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_1.jpg" alt="blog image">
                        </div>
                        <div class="blog-meta">
                            <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>Oct 30, 2023</a>
                            <a href="blog.html"><i class="fa-solid fa-tags"></i>classic dance</a>
                        </div>
                        <h3 class="blog-title box-title"><a href="blog-details.html">10 Tips For Taking Online Classic Dance Classes</a></h3>
                        <a href="blog-details.html" class="th-btn style3">Read More</a>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_2.jpg" alt="blog image">
                        </div>
                        <div class="blog-meta">
                            <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>February 28, 2023</a>
                            <a href="blog.html"><i class="fa-solid fa-tags"></i>Pole Dance</a>
                        </div>
                        <h3 class="blog-title box-title"><a href="blog-details.html">The Biggest Online Classic Dance Classes To Humanity.</a></h3>
                        <a href="blog-details.html" class="th-btn style3">Read More</a>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_3.jpg" alt="blog image">
                        </div>
                        <div class="blog-meta">
                            <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>March 25, 2023</a>
                            <a href="blog.html"><i class="fa-solid fa-tags"></i>Ballet dance</a>
                        </div>
                        <h3 class="blog-title box-title"><a href="blog-details.html">10 Things To Avoid In Online Classic Dance Classes</a></h3>
                        <a href="blog-details.html" class="th-btn style3">Read More</a>
                    </div>
                </div>

                <div class="col-md-6 col-xl-4">
                    <div class="blog-card">
                        <div class="blog-img">
                            <img src="assets/img/blog/blog_1_4.jpg" alt="blog image">
                        </div>
                        <div class="blog-meta">
                            <a href="blog.html"><i class="fa-solid fa-calendar-days"></i>April 30, 2023</a>
                            <a href="blog.html"><i class="fa-solid fa-tags"></i>Modern dance</a>
                        </div>
                        <h3 class="blog-title box-title"><a href="blog-details.html">Make Before Using Online Classic Dance Classes</a></h3>
                        <a href="blog-details.html" class="th-btn style3">Read More</a>
                    </div>
                </div>

            </div>
        </div>
    </section>