    <!--==============================
    Servce Area  
    ==============================-->
    <section class="overflow-hidden service-area space" id="service-sec" data-bg-src="assets/img/bg/service_bg_1.jpg">
        <div class="container">
            <div class="service-wrapper">
                <div class="title-area">
                    <span class="sub-title style1  mt-n1">Services</span>
                    <h2 class="sec-title mb-0 text-white">Our Service Platform</h2>
                </div>
                <div class="service-btn">
                    <a href="single-service.html" class="th-btn style4">View all services</a>
                </div>
            </div>
            <div class="row gy-4 justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="service-box">
                        <div class="service-box_inner">
                            <div class="service-box_icon">
                                <img src="assets/img/icon/service_1_1.svg" alt="">
                            </div>
                            <div class="service-box_number">01</div>
                        </div>
                        <div class="service-content">
                            <h3 class="service-box_title"><a href="service-details.html">Personalized Learning</a>
                            </h3>
                            <p class="service-box_text">Interactively cultivate optimal niches whereas client-centered processes. Enthusiastically envisioned.</p>
                            <a href="service.html" class="th-btn style3">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-box">
                        <div class="service-box_inner">
                            <div class="service-box_icon">
                                <img src="assets/img/icon/service_1_2.svg" alt="">
                            </div>
                            <div class="service-box_number">02</div>
                        </div>
                        <div class="service-content">
                            <h3 class="service-box_title"><a href="service-details.html">Convenient Dancing</a>
                            </h3>
                            <p class="service-box_text">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur porttitor posuere at sem.</p>
                            <a href="service.html" class="th-btn style3">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-box">
                        <div class="service-box_inner">
                            <div class="service-box_icon">
                                <img src="assets/img/icon/service_1_3.svg" alt="">
                            </div>
                            <div class="service-box_number">03</div>
                        </div>
                        <div class="service-content">
                            <h3 class="service-box_title"><a href="service-details.html">Dance Theater</a>
                            </h3>
                            <p class="service-box_text">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec rutrum congue leo eget malesuada.</p>
                            <a href="service.html" class="th-btn style3">Read More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>