    <!--==============================
    Hero Area
    ==============================-->
    <div class="th-hero-wrapper hero-1" id="hero">
        <div class="hero-slider-1 number-dots th-carousel" data-fade="true" data-slide-show="1" data-md-slide-show="1" data-dots="true">

            <div class="th-hero-slide">
                <div class="th-hero-bg" data-bg-src="">
                    <div class="hero-shape">
                        <img src="{{asset('images/photos_du_site/hero_shape_1.svg')}}" alt="shape">
                    </div>
                </div>
                <div class="container">
                    <div class="hero-style1">
                        <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s"> Let’s Dance!</span>
                        <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.3s">Rejoignez</h1>
                        <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.5s">F.D.O. <span class="text-theme">Danse!</span></h1>
                        <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.7s">Participez à nos compétitions de danse. </p>
                        <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.9s">
                            <a href="contact.html" class="th-btn red-btn">Contactez Nous</a>
                            <a href="{{ path('app_competition_reglement') }}" class="th-btn style2">Règlement</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="th-hero-slide">
                <div class="th-hero-bg" data-bg-src="">
                    <div class="hero-shape">
                        <img src="{{asset('images/photos_du_site/hero_shape_1.svg')}}" alt="shape">
                    </div>
                </div>
                <div class="container">
                    <div class="hero-style1">
                        <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s"> Des compet pour tous</span>
                        <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.3s">Des Catégories</h1>
                        <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.5s">Pour <span class="text-theme"> Tous !</span></h1>
                        <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.7s">Solo, Duo, en groupe, Enfants, Adultes... Une de nos catégorie est faite pour vous ! </p>
                        <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.9s">
                            <a href="#" class="th-btn red-btn">Catégories</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!--======== / Hero Section ========-->