    <!--==============================
    Hero Area
    ==============================-->
    <div class="th-hero-wrapper hero-1" id="hero">
        <div class="hero-slider-1 number-dots th-carousel" data-fade="true" data-slide-show="1" data-md-slide-show="1" data-dots="true">

            <div class="th-hero-slide">
                <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_1_1.jpg">
                    <div class="hero-shape">
                        <img src="assets/img/hero/hero_shape_1.svg" alt="shape">
                    </div>
                </div>
                <div class="container">
                    <div class="hero-style1">
                        <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s"> Let’s Dance!</span>
                        <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.3s">Join The Incredible</h1>
                        <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.5s">World Of <span class="text-theme">Dance!</span></h1>
                        <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.7s">Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. </p>
                        <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.9s">
                            <a href="contact.html" class="th-btn red-btn">Apply Now</a>
                            <a href="about.html" class="th-btn style2">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="th-hero-slide">
                <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_1_2.jpg">
                    <div class="hero-shape">
                        <img src="assets/img/hero/hero_shape_1.svg" alt="shape">
                    </div>
                </div>
                <div class="container">
                    <div class="hero-style1">
                        <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s"> Best Ballet Studio</span>
                        <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.3s">Modern & Classic</h1>
                        <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.5s">Ballet <span class="text-theme"> Play</span></h1>
                        <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.7s">Praesent sapien massa, convallis pellentesque nec, egestas non nisi. Curabitur aliquet quam id dui posuere blandit. Vivamus. </p>
                        <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.9s">
                            <a href="contact.html" class="th-btn red-btn">Apply Now</a>
                            <a href="about.html" class="th-btn style2">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="th-hero-slide">
                <div class="th-hero-bg" data-bg-src="assets/img/hero/hero_bg_1_3.jpg">
                    <div class="hero-shape">
                        <img src="assets/img/hero/hero_shape_1.svg" alt="shape">
                    </div>
                </div>
                <div class="container">
                    <div class="hero-style1">
                        <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s"> Grand Ceremony</span>
                        <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.3s">Once a Dancer,</h1>
                        <h1 class="hero-title" data-ani="slideinleft" data-ani-delay="0.5s">is Always a <span class="text-theme">Dance!</span></h1>
                        <p class="hero-text" data-ani="slideinleft" data-ani-delay="0.7s">Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies ligula sed magna dictum porta. Quisque. </p>
                        <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.9s">
                            <a href="contact.html" class="th-btn red-btn">Apply Now</a>
                            <a href="about.html" class="th-btn style2">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--======== / Hero Section ========-->