    <!--==============================
    Dance Technic Area  
    ==============================-->
    <div class="space">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="title-area">
                        <span class="sub-title style1  mt-n1">Our Dance Technic</span>
                        <h2 class="sec-title">We’re some simple steps for teaching dance</h2>
                    </div>
                    <div class="nav nav-tabs technic-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-step1-tab" data-bs-toggle="tab" data-bs-target="#nav-step1" type="button">Dance Step 01</button>
                        <button class="nav-link" id="nav-step2-tab" data-bs-toggle="tab" data-bs-target="#nav-step2" type="button">Dance Step 02</button>
                        <button class="nav-link" id="nav-step3-tab" data-bs-toggle="tab" data-bs-target="#nav-step3" type="button">Dance Step 03</button>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade active show" id="nav-step1" role="tabpanel">
                            <div class="technic-content">
                                <p class="technic-desc">Credibly leverage other's low-risk high-yield intellectual capital with state of the art customer service. Proactively whiteboard bricks-and-clicks processes via error-free portals. Intrinsically transform professional.</p>
                                <div class="technic-wrapper">
                                    <div class="technic-icon-list">
                                        <ul>
                                            <li><i class="fa-regular fa-circle-check"></i>Dance Practice</li>
                                            <li><i class="fa-regular fa-circle-check"></i>Dance Growth</li>
                                        </ul>
                                    </div>
                                    <div class="technic-icon-list">
                                        <ul>
                                            <li><i class="fa-regular fa-circle-check"></i>Dance Training</li>
                                            <li><i class="fa-regular fa-circle-check"></i>Dance Improvement</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-step2" role="tabpanel">
                            <div class="technic-content">
                                <p class="technic-desc">Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit.</p>
                                <div class="technic-wrapper">
                                    <div class="technic-icon-list">
                                        <ul>
                                            <li><i class="fa-regular fa-circle-check"></i>Dance Practice</li>
                                            <li><i class="fa-regular fa-circle-check"></i>Dance Growth</li>
                                        </ul>
                                    </div>
                                    <div class="technic-icon-list">
                                        <ul>
                                            <li><i class="fa-regular fa-circle-check"></i>Dance Training</li>
                                            <li><i class="fa-regular fa-circle-check"></i>Dance Improvement</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-step3" role="tabpanel">
                            <div class="technic-content">
                                <p class="technic-desc">Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <div class="technic-wrapper">
                                    <div class="technic-icon-list">
                                        <ul>
                                            <li><i class="fa-regular fa-circle-check"></i>Dance Practice</li>
                                            <li><i class="fa-regular fa-circle-check"></i>Dance Growth</li>
                                        </ul>
                                    </div>
                                    <div class="technic-icon-list">
                                        <ul>
                                            <li><i class="fa-regular fa-circle-check"></i>Dance Training</li>
                                            <li><i class="fa-regular fa-circle-check"></i>Dance Improvement</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="img-box2">
                        <div class="img2">
                            <img src="assets/img/normal/technic.png" alt="About">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>