    <!--==============================
    Team Area  
    ==============================-->
    <section class="space">
        <div class="container">
            <div class="title-area text-center">
                <span class="sub-title mt-n1">Dance Teacher</span>
                <h2 class="sec-title">Our Professional Instructor</h2>
            </div>
            <div class="row slider-shadow th-carousel" data-slide-show="4" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="1" data-xs-slide-show="1" data-arrows="true">
                <!-- Single Item -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="team-box">
                        <div class="team-img">
                            <img src="assets/img/team/team_1_1.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">Sammy Houston</a></h3>
                            <span class="team-desig">Instructor</span>
                            <div class="team-social">
                                <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                                <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="team-box">
                        <div class="team-img">
                            <img src="assets/img/team/team_1_2.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">Jenifer Lopez</a></h3>
                            <span class="team-desig">Coreographer</span>
                            <div class="team-social">
                                <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                                <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="team-box">
                        <div class="team-img">
                            <img src="assets/img/team/team_1_3.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">David Milton</a></h3>
                            <span class="team-desig">Zumba Teacher</span>
                            <div class="team-social">
                                <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                                <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="team-box">
                        <div class="team-img">
                            <img src="assets/img/team/team_1_4.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">Ellen Harrington</a></h3>
                            <span class="team-desig">Gym Instructor</span>
                            <div class="team-social">
                                <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                                <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="team-box">
                        <div class="team-img">
                            <img src="assets/img/team/team_1_5.jpg" alt="Team">
                        </div>
                        <div class="team-content">
                            <h3 class="team-title box-title"><a href="single-instructor.html">Jade Smith</a></h3>
                            <span class="team-desig">Yoga Instructor</span>
                            <div class="team-social">
                                <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                                <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>