    <!--==============================
    Testimonial Area  
    ==============================-->
    <section class="testimonial-area space bg-smoke" data-bg-src="assets/img/bg/map_bg_1.png">
        <div class="container">
            <div class="row text-center text-lg-start justify-content-lg-between align-items-end">
                <div class="col-lg-8 mb-n2 mb-lg-0">
                    <div class="title-area">
                        <span class="sub-title style1 mt-n1">Testimonials</span>
                        <h2 class="sec-title">What our students have to say?</h2>
                    </div>
                </div>
                <div class="col-lg-auto">
                    <div class="sec-btn">
                        <div class="icon-box">
                            <button data-slick-prev="#testiSlide" class="slick-arrow default"><i class="far fa-arrow-left"></i></button>
                            <button data-slick-next="#testiSlide" class="slick-arrow default"><i class="far fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row th-carousel slider-shadow " id="testiSlide" data-slide-show="2" data-md-slide-show="2" data-sm-slide-show="1">
                <div>
                    <div class="testi-card">
                        <div class="testi-content">
                            <p class="testi-card_text">Rapidiously syndicate cross-unit imperatives rather than unique partnerships. Collaboratively mesh error-free catalysts for change without plug-and-play opportunities. Completely maximize dynamic methodologies via. Authoritatively enhance superior relationships before.</p>
                            <div class="testi-card_wrapper">
                                <div class="testi-card_profile">
                                    <div class="testi-card_avater">
                                        <img src="assets/img/testimonial/testi_1_1.jpg" alt="Avater">
                                    </div>
                                    <div class="media-body">
                                        <h3 class="testi-card_name"><a href="#">David Milton</a></h3>
                                        <span class="testi-card_desig">dance student</span>
                                    </div>
                                </div>
                                <div class="testi-card_quote">
                                    <img src="assets/img/icon/quote.svg" alt="quote">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="testi-card">
                        <div class="testi-content">
                            <p class="testi-card_text">Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar enim orci elit.</p>
                            <div class="testi-card_wrapper">
                                <div class="testi-card_profile">
                                    <div class="testi-card_avater">
                                        <img src="assets/img/testimonial/testi_1_2.jpg" alt="Avater">
                                    </div>
                                    <div class="media-body">
                                        <h3 class="testi-card_name"><a href="#">David Milton</a></h3>
                                        <span class="testi-card_desig">Senjuti das</span>
                                    </div>
                                </div>
                                <div class="testi-card_quote">
                                    <img src="assets/img/icon/quote.svg" alt="quote">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="testi-card">
                        <div class="testi-content">
                            <p class="testi-card_text">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Quisque velit nisi, vehicula eget at tellus.</p>
                            <div class="testi-card_wrapper">
                                <div class="testi-card_profile">
                                    <div class="testi-card_avater">
                                        <img src="assets/img/testimonial/testi_1_3.jpg" alt="Avater">
                                    </div>
                                    <div class="media-body">
                                        <h3 class="testi-card_name"><a href="#">Abraham Khalil</a></h3>
                                        <span class="testi-card_desig">dance student</span>
                                    </div>
                                </div>
                                <div class="testi-card_quote">
                                    <img src="assets/img/icon/quote.svg" alt="quote">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>