    {% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    
<!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " data-bg-src="assets/img/breadcumb/breadcumb-bg.jpg">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">404 - Error Page</h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li>404 - Error Page</li>
                </ul>
            </div>
        </div>
    </div>
    
    <section class="space">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="error-img">
                        <img src="{{ asset('images/photos_du_site/error.svg') }}" alt="404 image">
                    </div>
                    <div class="error-content">
                        <h2 class="error-title">Oups cette page n'a pas pu être trouvée...</h2>
                        <p class="error-text">il semble que cette page n'existe pas !</p>
                        <a href="{{ path('app_main')}}" class="th-btn"><i class="fa-solid fa-arrow-left-long me-2"></i>Accueil</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
{% endblock %}